@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

@keyframes wave {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}

.wave-animated {
  animation: wave 4s linear infinite;
}
